{% extends "layout.html" %}
{% block title %}Individual Test{% endblock title %}
{% block body %}
<!-- Page Header-->
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/individual.css') }}">
</head>
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/heart18.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Predict the Health For Your Heart!</h1>
                    <h2 class="subheading">By giving input of 13 features...</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Fill out the details below to predict the chances of heart failure or disease.</p>
                <div class="my-5">
{#                    <form action="{{ url_for('predict') }}" method="post" class="indi">#}
                                        <form action="#" method="post" class="indi">
                        <div class="form-floating">

                            <!-- Gender Selection -->
                            <div class="mb-3 row">
                                <label for="gender" class="form-label">Gender:</label>
                                <div class="col-sm-7">
                                    <select name="gender" id="gender" class="form-control" required>
                                        <option value="">Not Selected</option>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Age Input -->
                            <div class="mb-3 row">
                                <label for="age" class="form-label">Age:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="age" name="age" placeholder="Enter the Value Here" class="form-control" required>
                                </div>
                            </div>
                            <!-- Cigarette Intake -->
                            <div class="mb-3 row">
                                <label for="cigs" class="form-label">Cigarettes per Day:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="cigs" name="cigs" placeholder="Enter the Value Here" class="form-control" required>
                                </div>
                            </div>
                            <!-- BP Medication -->
                            <div class="mb-3 row">
                                <label for="BPMeds" class="form-label">Do You Take BP Medicine:</label>
                                <div class="col-sm-10">
                                    <select name="BPMeds" id="BPMeds" class="form-control" required>
                                        <option value="">Not Selected</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Other Inputs -->
                            <!-- Repeat similar structure for remaining inputs -->

                            <!-- Total Cholesterol -->
                            <div class="mb-3 row">
                                <label for="totChol" class="form-label">Total Cholesterol:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="totChol" name="totChol" placeholder="Enter the Value Here" class="form-control" required>
                                </div>
                            </div>
                            <!-- Systolic Blood Pressure -->
                            <div class="mb-3 row">
                                <label for="sysBP" class="form-label">Systolic Blood Pressure (sysBP):</label>
                                <div class="col-sm-10">
                                    <input type="text" id="sysBP" name="sysBP" placeholder="Enter the Value Here" class="form-control" required>
                                </div>
                            </div>
                            <!-- Diastolic Blood Pressure -->
                            <div class="mb-3 row">
                                <label for="diaBP" class="form-label">Diastolic Blood Pressure (diaBP):</label>
                                <div class="col-sm-10">
                                    <input type="text" id="diaBP" name="diaBP" placeholder="Enter the Value Here" class="form-control" required>
                                </div>
                            </div>
                            <!-- BMI -->
                            <div class="mb-3 row">
                                <label for="BMI" class="form-label">BMI:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="BMI" name="BMI" placeholder="Enter the Value Here" class="form-control" required>
                                </div>
                            </div>
                            <!-- Heart Rate -->
                            <div class="mb-3 row">
                                <label for="HeartRate" class="form-label">Heart Rate:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="HeartRate" name="HeartRate" placeholder="Enter the Value Here" class="form-control" required>
                                </div>
                            </div>
                            <!-- Glucose -->
                            <div class="mb-3 row">
                                <label for="Glucose" class="form-label">Glucose Level:</label>
                                <div class="col-sm-10">
                                    <input type="text" id="Glucose" name="Glucose" placeholder="Enter the Value Here" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Predict</button>
                    </form>
                </div>
                <br><br>
{#                <h2 style="color: blue; font-style: oblique;">{{ prediction_text }}</h2>#}
            </div>
        </div>
    </div>
</main>
{% endblock %}
